@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Audiowide);

/* basics */

/* ------------------------ */

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  background: #fff/*#f4f4f4*/;
  color: #131313;
}

h1, h2, p {
  margin: 0;
  padding: 0;
  font-size: 1.0em;
  font-weight: normal;
}

a {
  color: #337ab7;
  text-decoration: underline;
}

a.twitterlink {
  color: #33ccff;
  text-decoration: none;
}

a.twitterlink:hover {
  text-decoration: underline;
}

/* top navigation */

/* ------------------------ */

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ffffff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
  margin-bottom: 2em; /*< required for the box-shadow */
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.top-nav:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.top-nav .logo {
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.top-nav .title {
  display: inline;
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
}

.top-nav ul, .top-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav ul {
  float: right;
}

.top-nav li {
  float: left;
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.top-nav a {
  text-decoration: none;
  color: #131313;
}

.top-nav a:hover {
  color: #ff9300;
}


/* header */

/* ------------------------ */

.header {
  margin-top: 4.4em;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  /*background: rgb(63,76,107);*/
  background: rgb(59,103,158);
  background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
}

.header h1 {
  font-family: "Audiowide", cursive;
  font-size: 3.0em;
  color: #fff;
}

.header h2 {
  color: #ddd;
  /*text-shadow: 2px 2px #000000;*/
  /*background-color: rgba(255, 255, 255, 0.5);*/
  /*line-height: 2em;*/
}

/* common section styles */

/* ------------------------ */

.contentsections {
  width: 100%;
}

.separator {
  width: 90%;
  height: 0;
  margin-left: 5%;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #ccc;
}

.anchor {
  position: relative;
  top: -4.5em;
  display: block;
  width: 0;
  height: 0;
}

@media (min-width: 1600px) {
  .contentsections {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* about */

/* ------------------------ */

.about {
  padding: 2em 4em;
}

.about h1 {
  font-size: 3em;
}

.about p {
  margin: 1em 0em;
  padding: 0em 2em;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* projects */

/* ------------------------ */

.projects {
  padding: 2em 4em;
}

.projects h1 {
  font-size: 3em;
}

.project {
  margin: 1em 0em;
  padding: 0em 2em;
}

.project .title {
  font-size: 2em;
  color: #337ab7;
}

.project .description {
  font-size: 1.5em;
}

.project .links {
  text-align: right;
  margin-top: 0.5em;
  font-size: 1.2em;
}

/* footer */

/* ------------------------ */

.footer {
  margin: 0;
  padding: 2em;
}

.footer .copyright {
  text-align: center;
  color: #666;
}